<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Relación Entrenador-Pokémon</title>
</head>
<body>
    <h1>Editar Relación Entrenador-Pokémon</h1>
    <!-- Bloque para mostrar mensajes flash -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form action="/editar_relacion/{{ relacion.id }}" method="POST">
        <label for="entrenador">Entrenador:</label>
        <select id="entrenador" name="entrenador_id" required>
            {% for entrenador in entrenadores %}
                <option value="{{ entrenador.id }}" {% if entrenador.id == relacion.entrenador_id %}selected{% endif %}>{{ entrenador.nombre }}</option>
            {% endfor %}
        </select><br>
        <label for="pokemon">Pokémon:</label>
        <select id="pokemon" name="pokemon_id" required>
            {% for pokemon in pokemones %}
                <option value="{{ pokemon.id }}" {% if pokemon.id == relacion.pokemon_id %}selected{% endif %}>{{ pokemon.nombre }}</option>
            {% endfor %}
        </select><br>
        <input type="submit" value="Guardar">
        <a href="/" >Volver al Inicio</a>
    </form>
</body>
</html>
